@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
#rectangle{
    width: 1440px;;
    height:36px;
    background-color:blue;
}